p {
    color:darkred;
}
h1 {
    color:darkred;
    font-weight: bold;
    text-decoration: underline;
}
ul li {
    color: blue;
}
ul li a {
    color: coral;
}

p:first-of-type {
    color: black;
}